.siimple-box{
  text-align: center;
}
.siimple-form,
.siimple-list{
  margin: auto;
  width: 100%;
  max-width: 500px;
}

.siimple-list{
  width: 100%;
}
.siimple-list-item{
  display: flex;
  align-items: center;
}
.siimple-btn{
  margin-left: 1rem;
}

.icons{
  font-size: 2rem;
}